<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuriy.openradio">

    <!-- Declare Leanback support -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <!-- Declare touchscreen not required -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:banner="@mipmap/tv_banner"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.yuriy.openradio.shared.view.activity.MainTvActivity"
            android:label="@string/app_name"
            android:theme="@style/open_radio_tv">
            <!-- This filter identifies app as being enabled for TV, and lets Google Play identify it as a TV app. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.yuriy.openradio.shared.view.activity.SearchTvActivity" />

    </application>

</manifest>
